version: '3.8'

services:
  # 1. 数据库
  db:
    image: mysql:8.0
    container_name: gallery_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password  
      MYSQL_DATABASE: imagedb     # 建库    
    volumes:
      - db_data:/var/lib/mysql       # 数据持久化，防止重启丢失数据
    ports:
      - "3307:3306"                  # 宿主机3307 -> 容器3306 
    healthcheck:
      # 用 ping 检测 mysql 是否存活
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
      interval: 5s    # 每隔5秒检查一次
      timeout: 5s     # 每次检查超时时间
      retries: 10     # 如果失败10次才认为容器挂了
      start_period: 10s # 容器启动前10秒不计入失败（给MySQL初始化时间）

  # 2. 后端服务
  backend:
    build: .
    container_name: gallery_backend
    depends_on:
      db:
        condition: service_healthy  # 只有当 db 变健康了，backend 才会启动
    volumes:
      - .:/app
      - ./media:/app/media
    ports:
      - "8000:8000"
    environment:
      - ALLOWED_HOSTS=*
      # 使用 HuggingFace 国内镜像站
      - HF_ENDPOINT=https://hf-mirror.com
      # ✅ 新增邮件配置 (请填入你的真实信息)
      - EMAIL_HOST=smtp.163.com
      - EMAIL_PORT=465
      - EMAIL_USE_SSL=True
      - EMAIL_HOST_USER=jujubefish@163.com  # 163邮箱
      - EMAIL_HOST_PASSWORD=EPTMx5R7sSEphJ2Y # 邮箱授权码
    # 指定阿里和114的DNS，防止容器解析不到域名
    dns:
      - 223.5.5.5
      - 114.114.114.114

  # 3. 前端服务
  frontend:
    build: 
      context: ./frontend
    container_name: gallery_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

volumes:
  db_data: